/* Orbitron Font - Local */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/orbitron/orbitron-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/orbitron/orbitron-700.ttf') format('truetype');
}